@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
html {height:100%;}
body {height:100%; margin:0; background-color:#313539; padding-top:51px; }
/* a:focus, a:active, button:focus, button:active, input:focus {outline:none;} */
a:link, a:visited, a:active, a:hover, a:focus {outline:none;}
.hid {display:none;}
.blk {display:block;}
.modal-dialog {z-index:10000;}
.mCSB_inside > .mCSB_container {margin-right:6px;}

/* tv layout */
#tv_box_out {overflow:hidden; background:#000; width:100%; height:90%; border:5px solid #c8c8c8; border-radius:25px;}
#tv_box_in {overflow:hidden; position:relative; width:98%; height:90%; margin:15px auto 0; z-index:4;}
.main_support {width:15%; margin:0 auto;}

.footer {position:absolute; bottom:0; width:100%; height:60px; background-color:#f5f5f5;}
.container .text-muted {margin:20px 0;}
.footer > .container {padding-right:15px; padding-left:15px;}
code {font-size:80%;}

/* navbar */
.navbar {border:none; margin:0;}
/* .navbar-fixed-top {top:-55px;} */
.glyphicon {font-size:24px;}
.nav_btn {z-index:5; background:none; border:none; outline:0;}
.nav_btn:hover,.main_btn:active,.main_btn:focus,.main_btn:visited,.main_btn:link {text-decoration:none; border:0; outline:0; box-shadow:none;}
.nav_btn_top {position:absolute; margin-left:50%; top:33px;}
.nav_btn_bottom {position:absolute; margin-left:50%; top:51px;}

@media screen and (max-width:767px) {
	/* 매우 작은 기기들 (모바일폰, 768px 보다 작은) screen-xs */
	body {padding-top:51px;}
	.navbar .navbar-nav>li>a {border:0;}
	#tv_box_out {height:100%; border:2px solid #c8c8c8;}
	#tv_box_in {width:95%; height:95%;}
	.main_support,.nav_btn_top,.nav_btn_bottom {display:none;}
}
@media screen and (min-width:768px) and (max-width:991px) { /* 작은 기기들 (태블릿, 768px 이상) screen-sm*/
	.nav>li>a {padding:10px 10px;}
	.navbar-nav>li>a {padding-top:15px; padding-bottom:15px;}
}

/* 음식점 사진  */
.content-img{width:100%; height:30%; max-height:200px; max-width:390px;}
/* 상세페이지 사진  */
.detail-img{width:100%; height:30%; max-height:465px;}
/* 맛집추천 상세페이지 사진  */
.req-img{width:100%; height:25%; max-height:400px;}
